<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1 class="mt-5">Check Your Email</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <a href="/login" class="btn btn-primary">Back to Login</a>
</div>
</body>
</html>
